# 1. Import data

In [1]:
import pandas as pd
import numpy as np
import pyomo.environ as pyo
from pyomo.environ import *
from pyomo.opt import SolverFactory

In [2]:
data = pd.read_excel('data.xlsx')

In [3]:
data

     sector from   to  flight   AC  DOW        ETD        ETA
0    VKGSGN  VKG  SGN  0V8002  AT7    1   7.083333   8.000000
1    SGNVKG  SGN  VKG  0V8003  AT7    1   5.916667   6.750000
2    VCAPQC  VCA  PQC  0V8014  AT7    1  11.750000  12.666667
3    PQCVCA  PQC  VCA  0V8015  AT7    1  13.166667  14.083333
4    VCSSGN  VCS  SGN  0V8050  AT7    1   7.250000   8.333333
..      ...  ...  ...     ...  ...  ...        ...        ...
261  DINHAN  DIN  HAN  0V8205  AT7    7  15.500000  16.500000
262  VIIHAN  VII  HAN  0V8312  AT7    7   9.333333  10.333333
263  HANVII  HAN  VII  0V8313  AT7    7   8.000000   9.000000
264  VDHHAN  VDH  HAN  0V8592  AT7    7  19.166667  20.500000
265  HANVDH  HAN  VDH  0V8593  AT7    7  17.333333  18.833333

[266 rows x 8 columns]

# 2. Sets

In [4]:
model = pyo.ConcreteModel()

In [5]:
# create set of sector
# note: lam the nao de biet chuyen chieu di nao tuong ung voi chuyen chieu ve? co can tuong ung ko?
model.sector = pyo.Set(initialize = data['sector'].unique())
sector = model.sector

In [6]:
# create set of aircraft type
model.ac = pyo.Set(initialize = data['AC'].unique())
ac = model.ac

In [7]:
# create set of flight
model.flight_no = pyo.Set(initialize = data['flight'].unique())
flight_no = model.flight_no

In [8]:
# create set of DOW
model.DOW = pyo.Set(initialize = range(1,8), domain = PositiveIntegers)
DOW = model.DOW

In [9]:
# create set of hour
model.hour = pyo.Set(initialize = range(0,24), domain = NonNegativeIntegers)
hour = model.hour

In [10]:
# create set of airport
airport_from = data['from'].unique()
airport_to = data['to'].unique()
airport_set = set(np.concatenate((airport_from,airport_to)))
model.airport = pyo.Set(initialize = airport_set, ordered = False)
airport = model.airport

# 3. Parameters

# 4. Variables